.container {
  height: inherit;
  display: grid;
  grid-template-columns: 80% 5%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.inputContainer {
  border: none;

  height: 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

.input {
  flex: 1;
  padding-left: 2rem;
  padding-right: 1rem;
  width: 80%;
  height: 100%;
  border: none;
  border-radius: inherit;
  box-sizing: border-box;
  background-color: var(--back-ground-col);
}

.input:focus {
  outline: 1px solid rgb(108, 108, 255);
  background-color: white;
}

.search {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.setting_div {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50%;
}

.setting_div:hover {
  cursor: pointer;
  background-color: var(--back-ground-col);
  border-radius: 50%;
}
