.container {
  margin: auto;
  max-width: 1660px;
  height: 99dvh;

  display: grid;
  grid-template-columns: 10% 20% 40% 20% 10%;
}

.section {
  border-left: 1px solid rgba(180, 180, 180, 0.9);
  border-right: 1px solid rgba(180, 180, 180, 0.9);
}
