.container {
  display: grid;
  grid-template-columns: 10% 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid var(--color-gray-rgb-180);
}

.container:hover {
  cursor: pointer;
  background-color: var(--back-ground-col);
}

.image_container {
  width: 90%;
  height: 20rem;
  position: relative;
}

.image {
  border-radius: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.write_info {
  display: flex;
}
